<a href="https://colab.research.google.com/github/FranciscoFoz/validacao-cadastro-usuarios-biblioteca/blob/main/Notebook/Validacao_cadastro_usuario_biblioteca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Validação de cadastro de usuários da biblioteca

![](https://camo.githubusercontent.com/134cf454cd89ffea74418758ea3a3b186dd176da5dc2fa7c76c890daf715de6c/68747470733a2f2f696d616765732e756e73706c6173682e636f6d2f70686f746f2d313536343938313739373831362d3130343336363462663738643f69786c69623d72622d312e322e3126697869643d4d6e77784d6a4133664442384d48787761473930627931775957646c66487838664756756644423866487838266175746f3d666f726d6174266669743d63726f7026773d37373426713d3830)

## Resumo

Uma biblioteca universitária, no Brasil, está validando os dados do cadastro de seus usuários, para que possam entrar em contato. O e-mail é a comunicação ideal para entrar em contato, por isso já foi feita a validação. Entretanto nem todos os usuários possuem no cadastro um e-mail válido e a segunda opção seria o número de celular. Mas o número de celular não é validado inteiramente no formulário da página web do cadastro e números repetidos ou incorretos podem aparecer.

Quais são os usuários da biblioteca que não possuem um número de celular válido? Com essas informações a equipe da direção da biblioteca poderá montar um plano de ação para de alguma forma corrigir o cadastro.

Também está disponível a tabela destes usuários no banco de dados da matrícula da universidade e do cadastro inicial do comercial. Para verificar se não estão corretos nestes outros.

## Importação das bibliotecas

pandas == 1.3.5

In [1]:
!pip install wget
import wget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)

In [2]:
wget.download('https://raw.githubusercontent.com/FranciscoFoz/validacao-cadastro-usuarios-biblioteca/main/requirements.txt')

'requirements (1).txt'

In [3]:
!pip install -r requirements.txt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==1.3.5 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 1)) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5->-r requirements.txt (line 1)) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5->-r requirements.txt (line 1)) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.5->-r requirements.txt (line 1)) (1.15.0)

In [4]:
import re
import pandas as pd

## Importação da classe de validação

Criei uma classe de validação do número do celular que possa verificar se ele é válido ou não.

A classe terá duas validações com Regex.
A primeira validação verificará se o número possui um DDD de 1 a 9, um primeiro dígito 9, 1 dígito entre 5 a 9 e uma sequência de 7 dígitos entre 0 a 9.

Para que nãos seja possível ter números repetidos, a segunda validação passará pelo número e verificará se não possui 6 ou mais dígitos (de 0 a 9) repetidos em sequência.

Caso seja válido, o número retornará no padrão (xx) xxxxx-xxxx.
Caso seja inválido, retornará a frase "Número inválido".

In [5]:
wget.download('https://raw.githubusercontent.com/FranciscoFoz/validacao-cadastro-usuarios-biblioteca/main/Notebook/celularBr.py')

'celularBr (1).py'

In [6]:
import celularBr as c

## Importação dos dados

In [7]:
biblioteca = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/validacao-cadastro-usuarios-biblioteca/main/Datasets/biblioteca.csv')
comercial = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/validacao-cadastro-usuarios-biblioteca/main/Datasets/comercial.csv')
matricula = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/validacao-cadastro-usuarios-biblioteca/main/Datasets/matricula.csv')

## Desenvolvimento do projeto

In [8]:
biblioteca

      ID         RA     TELEFONE     EMAIL
0     38  202210435  68976666666  Inválido
1     46  202210513  68991128727  Inválido
2     52  202210551  68980743830  Inválido
3     53  202210574  68982847367  Inválido
4     80  202210828  68996455542  Inválido
..   ...        ...          ...       ...
995  771  202217410  63979328523  Inválido
996  804  202217742  63979489768  Inválido
997  809  202217760  63988888888  Inválido
998  840  202218170  63995130349  Inválido
999  892  202218758  63993173630  Inválido

[1000 rows x 4 columns]

Aplicarei a classe criada para verificar se os números de celular são válidos.

In [9]:
biblioteca['TELEFONE_VALIDADO'] = biblioteca['TELEFONE'].apply(lambda celular: c.CelularBr(celular).verifica_validacao())

In [10]:
biblioteca

      ID         RA     TELEFONE     EMAIL TELEFONE_VALIDADO
0     38  202210435  68976666666  Inválido   Número inválido
1     46  202210513  68991128727  Inválido   (68) 99112-8727
2     52  202210551  68980743830  Inválido   (68) 98074-3830
3     53  202210574  68982847367  Inválido   (68) 98284-7367
4     80  202210828  68996455542  Inválido   (68) 99645-5542
..   ...        ...          ...       ...               ...
995  771  202217410  63979328523  Inválido   (63) 97932-8523
996  804  202217742  63979489768  Inválido   (63) 97948-9768
997  809  202217760  63988888888  Inválido   Número inválido
998  840  202218170  63995130349  Inválido   (63) 99513-0349
999  892  202218758  63993173630  Inválido   (63) 99317-3630

[1000 rows x 5 columns]

In [11]:
numeros_invalidos = biblioteca.query('TELEFONE_VALIDADO == "Número inválido"')
numeros_invalidos = numeros_invalidos.sort_values(by='ID',ascending=True)
numeros_invalidos

      ID         RA     TELEFONE     EMAIL TELEFONE_VALIDADO
0     38  202210435  68976666666  Inválido   Número inválido
256   60  202210654  27999999999  Inválido   Número inválido
257   65  202210685  27966666666  Inválido   Número inválido
693   79  202210827  11111111111  Inválido   Número inválido
696  125  202211334  84888888888  Inválido   Número inválido
964  209  202212145  63999999999  Inválido   Número inválido
705  242  202212419  84922222222  Inválido   Número inválido
854  252  202212509  48999999999  Inválido   Número inválido
855  292  202212962  48911111111  Inválido   Número inválido
664  331  202213278  21212121212  Inválido   Número inválido
665  400  202213972  10101010101  Inválido   Número inválido
769  414  202214064  95988888888  Inválido   Número inválido
741  473  202214601  69900000000  Inválido   Número inválido
983  490  202214811  63911111111  Inválido   Número inválido
715  520  202215132  84966666666  Inválido   Número inválido
774  552  202215388  95922222222  Inválido   Número inválido
98   565  202215607  92977777777  Inválido   Número inválido
903  592  202215847  79977777777  Inválido   Número inválido
723  632  202216245  84966666666  Inválido   Número inválido
946  635  202216259  11991111111  Inválido   Número inválido
65   673  202216554  11111111111  Inválido   Número inválido
906  684  202216662  79966666666  Inválido   Número inválido
949  755  202217250  11991111111  Inválido   Número inválido
876  769  202217402  48976666666  Inválido   Número inválido
997  809  202217760  63988888888  Inválido   Número inválido
952  869  202218389  11999000000  Inválido   Número inválido
112  894  202218787  12914578879  Inválido   Número inválido
955  901  202218874  11993333333  Inválido   Número inválido
883  979  202219743  48911111111  Inválido   Número inválido
31   991  202219863  68871520623  Inválido   Número inválido

In [12]:
len(numeros_invalidos)

30

Um total de 30 números de celular foram inválidos.

Verificarei as outras bases disponíveis para pesquisar se há números cadastrados corretamente nelas.

### Base de dados: Matrículas

Esse conjunto de dados é uma seleção da base de dados de matrículas da universidade.

In [13]:
matricula

,ID,RA,UF,CIDADE,TELEFONE,EMAIL,CURSO
0,38,202210435,AC,Rio Branco,6.897667e+10,Inválido,Negócios Imobiliários
1,46,202210513,AC,Rio Branco,6.899113e+10,Inválido,Negócios Imobiliários
2,52,202210551,AC,Rio Branco,6.898074e+10,Inválido,Educação Física
3,53,202210574,AC,Rio Branco,6.898285e+10,Inválido,Ciência de Dados
4,80,202210828,AC,Rio Branco,6.899646e+10,Inválido,Arquitetura de Dados
...,...,...,...,...,...,...,...
1004,771,202217410,TO,Palmas,6.397933e+10,Inválido,Produção Cervejeira
1005,804,202217742,TO,Palmas,6.397949e+10,Inválido,Teologia
1006,809,202217760,TO,Palmas,6.398889e+10,Inválido,Radiologia
1007,840,202218170,TO,Palmas,6.399513e+10,Inválido,Filosofia
1008,892,202218758,TO,Palmas,6.399317e+10,Inválido,Direito

Procurarei dentro deste conjunto de dados os usuários e verificarei com a classe validadora.

In [14]:
id_numeros_invalidos = list(numeros_invalidos.ID)

In [15]:
matricula_telefone = matricula.query('ID == @id_numeros_invalidos')[['ID','TELEFONE']]
matricula_telefone

       ID      TELEFONE
0      38  6.897667e+10
34    991  6.887152e+10
71    673  8.299925e+10
104   565  9.297778e+10
118   894           NaN
262    60  2.800000e+10
263    65  2.796667e+10
670   331  2.121212e+10
671   400  1.010101e+10
699    79  1.111111e+10
702   125  8.488889e+10
711   242  8.492222e+10
724   520  8.496667e+10
732   632  8.496667e+10
750   473  6.990000e+10
778   414  9.598889e+10
783   552  9.592222e+10
863   252  4.900000e+10
864   292  4.891111e+10
885   769  4.897667e+10
892   979  4.891111e+10
912   592  7.997778e+10
915   684  7.999145e+10
955   635  1.199111e+10
958   755  1.199111e+10
961   869  1.199900e+10
964   901  1.199333e+10
973   209  6.400000e+10
992   490  6.399125e+10
1006  809  6.398889e+10

In [16]:
matricula_telefone = matricula_telefone.sort_values(by='ID',ascending=True)
matricula_telefone = matricula_telefone.dropna()
matricula_telefone = matricula_telefone.astype(int)
matricula_telefone['TELEFONE_VALIDADO'] = matricula_telefone['TELEFONE'].apply(lambda celular: c.CelularBr(celular).verifica_validacao())
matricula_telefone

       ID     TELEFONE TELEFONE_VALIDADO
0      38  68976666666   Número inválido
262    60  27999999999   Número inválido
263    65  27966666666   Número inválido
699    79  11111111111   Número inválido
702   125  84888888888   Número inválido
973   209  63999999999   Número inválido
711   242  84922222222   Número inválido
863   252  48999999999   Número inválido
864   292  48911111111   Número inválido
670   331  21212121212   Número inválido
671   400  10101010101   Número inválido
778   414  95988888888   Número inválido
750   473  69900000000   Número inválido
992   490  63991250338   (63) 99125-0338
724   520  84966666666   Número inválido
783   552  95922222222   Número inválido
104   565  92977777777   Número inválido
912   592  79977777777   Número inválido
732   632  84966666666   Número inválido
955   635  11991111111   Número inválido
71    673  82999250449   (82) 99925-0449
915   684  79991450669   (79) 99145-0669
958   755  11991111111   Número inválido
885   769  48976666666   Número inválido
1006  809  63988888888   Número inválido
961   869  11999000000   Número inválido
964   901  11993333333   Número inválido
892   979  48911111111   Número inválido
34    991  68871520623   Número inválido

In [17]:
matricula_telefone_validado = matricula_telefone.query('TELEFONE_VALIDADO != "Número inválido"')
matricula_telefone_validado

      ID     TELEFONE TELEFONE_VALIDADO
992  490  63991250338   (63) 99125-0338
71   673  82999250449   (82) 99925-0449
915  684  79991450669   (79) 99145-0669

3 números no cadastro de matrícula são válidos.

Dentre os que ainda estão inválidos, procurarei na base de cadastro inicial do comercial.

### Base de dados: Comercial

Esse conjunto de dados é uma seleção da base de dados de cadastro inicial do comercial da universidade.

In [18]:
id_matricula_telefone_invalido = list(matricula_telefone.query('TELEFONE_VALIDADO == "Número inválido"').ID)
id_matricula_telefone_invalido

[38,
 60,
 65,
 79,
 125,
 209,
 242,
 252,
 292,
 331,
 400,
 414,
 473,
 520,
 552,
 565,
 592,
 632,
 635,
 755,
 769,
 809,
 869,
 901,
 979,
 991]

In [19]:
comercial_telefone = comercial.query('ID == @id_matricula_telefone_invalido')[['ID','TELEFONE']]
comercial_telefone

       ID      TELEFONE
0      38  6.897667e+10
1      38  6.897667e+10
2      38  6.897667e+10
40    991  6.887152e+10
110   565  9.297778e+10
268    60  2.800000e+10
269    65  2.796667e+10
676   331  2.121212e+10
677   400  1.010101e+10
705    79  1.111111e+10
708   125  8.488889e+10
717   242  8.492222e+10
730   520  8.499145e+10
738   632  8.496667e+10
756   473  6.990000e+10
784   414  9.599176e+10
789   552  9.593135e+10
869   252  4.900000e+10
870   292  4.891111e+10
891   769  4.897667e+10
898   979  4.891111e+10
918   592  7.998145e+10
961   635  1.199135e+10
964   755  1.199111e+10
967   869  1.199900e+10
970   901  1.199333e+10
979   209  6.400000e+10
1012  809  6.398889e+10

In [20]:
comercial_telefone = comercial_telefone.astype(int)
comercial_telefone['TELEFONE_VALIDADO'] = comercial_telefone['TELEFONE'].apply(lambda celular: c.CelularBr(celular).verifica_validacao())
comercial_telefone

       ID     TELEFONE TELEFONE_VALIDADO
0      38  68976666666   Número inválido
1      38  68976666666   Número inválido
2      38  68976666666   Número inválido
40    991  68871520623   Número inválido
110   565  92977777777   Número inválido
268    60  27999999999   Número inválido
269    65  27966666666   Número inválido
676   331  21212121212   Número inválido
677   400  10101010101   Número inválido
705    79  11111111111   Número inválido
708   125  84888888888   Número inválido
717   242  84922222222   Número inválido
730   520  84991450228   (84) 99145-0228
738   632  84966666666   Número inválido
756   473  69900000000   Número inválido
784   414  95991759942   (95) 99175-9942
789   552  95931350449   Número inválido
869   252  48999999999   Número inválido
870   292  48911111111   Número inválido
891   769  48976666666   Número inválido
898   979  48911111111   Número inválido
918   592  79981450669   (79) 98145-0669
961   635  11991350889   (11) 99135-0889
964   755  11991111111   Número inválido
967   869  11999000000   Número inválido
970   901  11993333333   Número inválido
979   209  63999999999   Número inválido
1012  809  63988888888   Número inválido

In [21]:
comercial_telefone_validado = comercial_telefone.query('TELEFONE_VALIDADO != "Número inválido"') 
comercial_telefone_validado

      ID     TELEFONE TELEFONE_VALIDADO
730  520  84991450228   (84) 99145-0228
784  414  95991759942   (95) 99175-9942
918  592  79981450669   (79) 98145-0669
961  635  11991350889   (11) 99135-0889

Mais 4 números foram encontrados na base do comercial.

### Números de telefones encontrados

In [22]:
telefone_validados = pd.concat([comercial_telefone_validado,matricula_telefone_validado])
telefone_validados

      ID     TELEFONE TELEFONE_VALIDADO
730  520  84991450228   (84) 99145-0228
784  414  95991759942   (95) 99175-9942
918  592  79981450669   (79) 98145-0669
961  635  11991350889   (11) 99135-0889
992  490  63991250338   (63) 99125-0338
71   673  82999250449   (82) 99925-0449
915  684  79991450669   (79) 99145-0669

In [23]:
id_numeros_validados = list(telefone_validados.ID)

### Total de números de telefones inválidos

In [24]:
total_numeros_invalidos = numeros_invalidos.query('ID != @id_numeros_validados') 
total_numeros_invalidos

      ID         RA     TELEFONE     EMAIL TELEFONE_VALIDADO
0     38  202210435  68976666666  Inválido   Número inválido
256   60  202210654  27999999999  Inválido   Número inválido
257   65  202210685  27966666666  Inválido   Número inválido
693   79  202210827  11111111111  Inválido   Número inválido
696  125  202211334  84888888888  Inválido   Número inválido
964  209  202212145  63999999999  Inválido   Número inválido
705  242  202212419  84922222222  Inválido   Número inválido
854  252  202212509  48999999999  Inválido   Número inválido
855  292  202212962  48911111111  Inválido   Número inválido
664  331  202213278  21212121212  Inválido   Número inválido
665  400  202213972  10101010101  Inválido   Número inválido
741  473  202214601  69900000000  Inválido   Número inválido
774  552  202215388  95922222222  Inválido   Número inválido
98   565  202215607  92977777777  Inválido   Número inválido
723  632  202216245  84966666666  Inválido   Número inválido
949  755  202217250  11991111111  Inválido   Número inválido
876  769  202217402  48976666666  Inválido   Número inválido
997  809  202217760  63988888888  Inválido   Número inválido
952  869  202218389  11999000000  Inválido   Número inválido
112  894  202218787  12914578879  Inválido   Número inválido
955  901  202218874  11993333333  Inválido   Número inválido
883  979  202219743  48911111111  Inválido   Número inválido
31   991  202219863  68871520623  Inválido   Número inválido

In [25]:
len(total_numeros_invalidos)

23

Mesclarei a tabela de números inválidos para se ter mais informações dos usuários com números inválidos. 

Desta forma a direção da biblioteca poderá montar um plano de ação para corrigir o cadastro destes usuários.

In [26]:
total_numeros_invalidos = total_numeros_invalidos.merge(matricula[['ID','UF','CIDADE','CURSO']],how='left',left_on='ID', right_on='ID')
total_numeros_invalidos

,ID,RA,TELEFONE,EMAIL,TELEFONE_VALIDADO,UF,CIDADE,CURSO
0,38,202210435,68976666666,Inválido,Número inválido,AC,Rio Branco,Negócios Imobiliários
1,60,202210654,27999999999,Inválido,Número inválido,ES,Vitória,Nutrição
2,65,202210685,27966666666,Inválido,Número inválido,ES,Vitória,Design de Interiores
3,79,202210827,11111111111,Inválido,Número inválido,RN,Natal,Pedagogia
4,125,202211334,84888888888,Inválido,Número inválido,RN,Natal,Fotografia
5,209,202212145,63999999999,Inválido,Número inválido,TO,Palmas,Negócios Imobiliários
6,242,202212419,84922222222,Inválido,Número inválido,RN,Natal,Administração
7,252,202212509,48999999999,Inválido,Número inválido,SC,Florianópolis,Gestão Pública
8,292,202212962,48911111111,Inválido,Número inválido,SC,Florianópolis,Pedagogia
9,331,202213278,21212121212,Inválido,Número inválido,RJ,Rio de Janeiro,Engenharia Civil
10,400,202213972,10101010101,Inválido,Número inválido,RJ,Rio de Janeiro,Direito
11,473,202214601,69900000000,Inválido,Número inválido,RO,Porto Velho,Design de Interiores
12,552,202215388,95922222222,Inválido,Número inválido,RR,Boa Vista,Nutrição
13,565,202215607,92977777777,Inválido,Número inválido,AM,Manaus,Filosofia
14,632,202216245,84966666666,Inválido,Número inválido,RN,Natal,Farmácia
15,755,202217250,11991111111,Inválido,Número inválido,SP,São Paulo,Biomedicina
16,769,202217402,48976666666,Inválido,Número inválido,SC,Florianópolis,Filosofia
17,809,202217760,63988888888,Inválido,Número inválido,TO,Palmas,Radiologia
18,869,202218389,11999000000,Inválido,Número inválido,SP,São Paulo,Teologia
19,894,202218787,12914578879,Inválido,Número inválido,AM,Manaus,Gastronomia
20,901,202218874,11993333333,Inválido,Número inválido,SP,São Paulo,Fotografia
21,979,202219743,48911111111,Inválido,Número inválido,SC,Florianópolis,Ciências Biológicas
22,991,202219863,68871520623,Inválido,Número inválido,AC,Rio Branco,Biomedicina

## Considerações finais

A validação de dados é uma forma de se garantir a sua acuracidade. O ideal é que ela seja realizada no "input" (entrada) dos dados, entretanto nem sempre é a realidade e é necessário realizar uma validação nos dados já preenchidos.